body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', Arial, sans-serif;
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  font-family: 'Shrikhand', cursive;
}

nav a {
  color: #000;
  text-decoration: none;
}

#body {
  padding: 0 10px 20px;
}

#page-title {
  margin: 0 0 25px 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table th {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
}

thead {
    background-color: #bbb;
}

tfoot {
    background-color: #ccc;
}

thead th {
    border-bottom: 1px solid #ccc;
}

tfoot th {
    border-top: 1px solid #ccc;
}

table td {
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

tbody td {
    text-transform: lowercase;
}

tbody tr:hover {
    background-color: #fff;
}

tbody tr:hover td:hover {
    background-color: #333;
    color: #fff;
}